@import "tailwindcss";

/* Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Class based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
