@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("/Fonts/TTF/ClashDisplay-Variable.ttf");
}

body {
  font-family: "Epilogue", sans-serif;

  @apply overflow-x-hidden bg-white selection:bg-primaryColor selection:text-blue-50;
}
@layer base {
  .nav-link {
    @apply text-base font-medium  leading-[25.6px] text-textGrayColor py-2 px-2 h-full inline-block hover:text-primaryColor transition ease-in-out duration-300;
  }
  .primary-btn {
    @apply py-[10px] px-5 text-base text-center bg-primaryColor hover:bg-primaryColor/90 transition duration-300 hover:scale-[0.97] text-blue-50 font-bold rounded-md;
  }
}
button {
  user-select: none;
}
/* lenis CSS  */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}








/* globals.css - Styles simplifiés */
@layer components {
  .input-field {
    @apply w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors bg-white;
  }
}